@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap'); */

input[type="file"] {
    display: none;
}

@font-face {
    font-family: 'Limelight';
    src: url('./fonts/Limelight-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.fontStyle {
    font-family: 'Limelight', sans-serif;
}

.missing {
    min-height: 100vh;
    background-color: #000;
    color: whitesmoke;
    display: grid;
    place-content: center;
    padding: 1rem;
  }

body {
    font-family:  sans-serif;
}